
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgba(241, 231, 231, 0.348);
    font-family: 'Roboto Condensed', sans-serif;


}
/*---
 common selector
 ----- */
.container{
   
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

/*----- 
header 
----- */
.header{
    background-color: rgb(43, 40, 236);
    display: flex;
    width: 100%;
    height: 100vh;
   
   
}
.header-text{
    margin-top: 150px;
    margin-left: 10%;
     
    color: #fff;
    font-size: 24px;
}
 
   
.header img{
    Width:556.01px;
    Height:438px;
    margin-top: 130px;
     margin-left: 140px;
    
     
}
button{
    Padding:10px 24px 10px 24px;
    background-color: #E02C6D;
}
 .header-img{
    transform: translate(0px,0px);
     transition: all 1s ease;
 }
 
.header-img:hover {
   transform:scale(1.5);
}
 

/*-----
 player section 
----- */
.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
   
}

.player{
    width: 330px;
    height: 474px;
    padding: 10px;
    margin-bottom: 27px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.player img{
    width: 320px;
}

/*----
 highlight section
 ----- */
.hightlight{
    display: flex;
    gap: 66px;
   
}
.highlight-text{
     
    
    margin-top: 65px;
    
    text-align: justify;
}
small{
    color: rgb(63, 59, 59);
}
.highlight-button{
    margin-top: 24px;
}
.hightlight-image img{
    width: 80%;
    height:90%;
}




/* ---
-copa winner rasio
------ */
.copa{
    background-color: rgb(229, 232, 241);
     
    padding:5% ;
}
.copa-winner-heading{
   
    
    font-size: 34px;
}
 


.country{
   
    display: flex;
    align-items: center;
   gap: 20px;
}
.country-name{
    width: 80px;
}
.uruguy-rasio{
    
    width: 100vh;
    height: 30px;
    background-color: darkblue;
}
.argentina-rasio{
    
    width: 92.4vh;
    height: 30px;
    background-color: darkblue;
}
.brazil-rasio{
    
    width: 60vh;
    height: 30px;
    background-color: darkblue;
}
.peru-rasio{
    
    width: 13.2vh;
    height: 30px;
    background-color: darkblue;
}
.peraguay-rasio{
    
    width: 13.2vh;
    height: 30px;
    background-color: darkblue;
}
.chile-rasio{
    
    width: 13.2vh;
    height: 30px;
    background-color: darkblue;
}
.bolivia-rasio{
    
    width: 6.6vh;
    height: 30px;
    background-color: darkblue;
}
.clombia-rasio{
    
    width: 6.6vh;
    height: 30px;
    background-color: darkblue;
}
 

/* -----
more sport
 ---*/



.fa-square{
    color: red;
    width: 2px;
}
 
.sport{
    display: grid;
    grid-template-columns:repeat( 2,1fr);
    gap: 50px;
}
.sport-number{
    display: flex;
   background-color: #fff;
    padding: 5px;
    border-radius: 5px;

}
.sport-heading h1{
     
    color: black;
}
 .sport-number a{
    text-decoration: none;
}
 .sport-number a:hover{
    text-decoration: underline;
}
.sport-image img{
   width:300px;
}
 



/*------
 footer
 ------*/

footer{
   
    width: 484px;
    height: 215px;
    margin-top: 160px;
  margin-left: 475px;
}
.footer-image img{
    height: 80px;
}
.footer-text{
    margin-left: 130px;
    
}
.icon{
    margin-left: 10px;
    
}
.icon-item{
     
    
}
/* ----- 
media q 
 ---- */
@media only screen and (max-width:480px){
    .container{
        margin-bottom: 80px;
    }
    .header{
        display: flex;
         flex-direction: column;
         height: 695px;
     }
     .header-text{
        margin-top: 0;
        margin-bottom: 50px;
    }
     .header img{
        width: 330px;
        height: 260px;
        margin-top: 0;
        margin-left: 0;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
         
    }
    .hightlight{
        flex-direction: column;
        
    }
    .country{
        gap: 50px;
    }
    .country-name{
        width: 50px;
        
    }
    .argentina-rasio{
        width: 23vh;
    }
    .brazil-rasio{
        width: 20vh;
    }
     
    .sport{
        grid-template-columns: repeat(1,1fr);  
    }
    .sport-number{
        flex-direction: column;
    }
    footer{
      
         width: 0;
        margin-left:0;
    }
    .icon{
        display:flex;
         gap: 10px;
        
    }

}