
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgba(241, 231, 231, 0.348);
    font-family: 'Roboto Condensed', sans-serif;


}
/* common selector */
.container{
   
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* header */
.header{
    background-color: rgb(43, 40, 236);
    display: flex;
    height: 100vh;
   
   
}
.header-text{
    margin-top: 150px;
    margin-left: 10%;
    margin-bottom: 240px;
    color: #fff;
    font-size: 24px;
}
 
   
.header img{
    Width:556.01px;
    Height:438px;
    margin-top: 130px;
     margin-left: 140px;
     margin-bottom: 86px;
     
}
button{
    Padding:10px 24px 10px 24px;
    background-color: #E02C6D;
}
 .header-img{
    transform: translate(0px,0px);
     transition: all 1s ease;
 }
 
.header-img:hover {
   
}
/* section player */
.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
   
}

.player{
    width: 340px;
    height: 474px;
    padding: 15px;
    margin-bottom: 27px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.player img{
    width: 330px;
}

/*---- highlight section-- */
.hightlight{
    display: flex;
    gap: 66px;
    margin-top: 165px;
}
.highlight-text{
    width: 100%;
    height: 309px;
    margin-top: 65px;
    margin-left: 10%;
    text-align: justify;
}
small{
    color: rgb(63, 59, 59);
}
.highlight-button{
    margin-top: 24px;
}
.hightlight-image img{
    width: 100%;
    height:100%;
}

/* more sport start*/
.fa-square{
    color: red;
    width: 2px;
}
 
.sport{
    display: grid;
    grid-template-columns:repeat( 2,1fr);
    gap: 50px;
}
.sport-number{
    display: flex;
   background-color: #fff;
    padding: 5px;
    border-radius: 5px;

}
.sport-heading h1{
    width: 250px;
    color: black;
}
 .sport-number a{
    text-decoration: none;
}
 .sport-number a:hover{
    text-decoration: underline;
}
.sport-image img{
   width:350px;
}
/* more sport end*/


/* copa winner rasio star*/
.copa{
    background-color: rgb(174, 184, 216);
    padding-top: 5%;
    padding-left:5% ;
}
.copa-winner-heading{
   
    
    font-size: 34px;
}
 

.country{
   
    display: flex;
    align-items: center;
   gap: 20px;
}
.country-name{
    width: 80px;
}
.uruguy-rasio{
    
    width: 100vh;
    height: 30px;
    background-color: darkblue;
}
.argentina-rasio{
    
    width: 92.4vh;
    height: 30px;
    background-color: darkblue;
}
.brazil-rasio{
    
    width: 60vh;
    height: 30px;
    background-color: darkblue;
}
.peru-rasio{
    
    width: 13.2vh;
    height: 30px;
    background-color: darkblue;
}
.peraguay-rasio{
    
    width: 13.2vh;
    height: 30px;
    background-color: darkblue;
}
.chile-rasio{
    
    width: 13.2vh;
    height: 30px;
    background-color: darkblue;
}
.bolivia-rasio{
    
    width: 6.6vh;
    height: 30px;
    background-color: darkblue;
}
.clombia-rasio{
    
    width: 6.6vh;
    height: 30px;
    background-color: darkblue;
}
/* copa winner rasio star*/





/* footer */

footer{
    width: 484px;
    height: 215px;
    margin-top: 160px;
  margin-left: 475px;
}
.footer-image img{
    height: 80px;
}
.footer-text{
    margin-left: 130px;
}
.icon{
    margin-left: 10px;
}
.icon-item{
    margin-left: 5px;
}
/* media q star */
@media  only screen and (max-width:480px) {
    .container{
       width: 330px;
        
    }
    .header{
       display: flex;
        flex-direction: column;
        height: 695px;
    }
    .header-text{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .header img{
        width: 330px;
        height: 260px;
        margin-top: 0;
        margin-left: 0;
    }
    .players{
        grid-template-columns: 1fr;
    }
    .hightlight{
        flex-direction: column;
        margin-top: 0;
    }.highlight-text{
        width: 80%;
    }
      
   
    .sport{
        grid-template-columns: 1fr;
    }.sport-number{
        flex-direction: column;
    }
     
    footer{
        margin-left: 0;
    }
     
}